Flask
flask-cors
gunicorn
keras
numpy
opencv-python
pandas
pillow
python-dotenv
requests
scikit-image
scikit-learn
scipy
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorflow_intel
XlsxWriter